@import "~plaid-threads/scss/variables";

.productContainer {
  display: grid;
  grid-template-columns: 15% 50% 35%;
  width: 100%;
  border: 1px solid #ebebeb;
  border-bottom: 0px;
  // justify-content: flex-start;
  // align-items: center;
  margin: 0;

  &:last-child {
    border: 1px solid #ebebeb;
  }
}

.post {
  margin: 20px 0px 20px 35px;
}
.productContents {
  margin: 20px 30px;
}

.productHeader {
  margin-bottom: 10px;
}

.productName {
  font-weight: 600;
  font-size: 16px;
  padding-right: 10px;
}

.schema {
  font-size: 16px;
}
.productDescription {
  font-size: 12px;
  line-height: normal;
}

.sendRequest {
  margin: 20px 35px 20px 10px !important;
  width: 80%;
}
