@import "~plaid-threads/scss/variables";

.productsContainer {
  width: 100%;
  border: 1px solid #ebebeb;
  border-top: 0px;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  align-items: center;
  box-shadow: 0 8px 8px 0 #ebebeb;
  margin-top: 20px;
}

.productsHeader {
  width: 100%;
  border: 1px solid #ebebeb;
  border-bottom: 0px;
  height: 104px;
  color: #111111;
  font-family: Vaud;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.29px;
  line-height: 32px;
  padding-top: 35px;
  padding-left: 20px;
}
