.App {
  position: absolute;
  background-color: #aae079;
  height: 100vh;
  width: 100vw;
}

.Header {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.Subheader {
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.ConnectBtn {
  position: absolute;
  top: 30px;
  left: 20px;
}

.ShowBarChartBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
  font-size: 24px;
  cursor: pointer;
  color: black;
  border: none;
  background-color: #aae079;
  padding: 5px;
}

.ShowBarChartBtn:hover {
  color: green;
  background-color: white;
}

.recharts-wrapper {
  margin-left: 0 !important;
  margin-top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
