$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";

@import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 660px;
  width: 35%;
  margin: auto;
}

.subheader {
  font-size: 36px;

  margin-bottom: 25px;
}
