@import "~plaid-threads/scss/variables";
.errorTop {
  width: 90%;
  height: 1px;
  border-top: 1px solid #ebebeb;
}

.errorContainer {
  display: grid;
  grid-template-columns: 15% 50% 35%;
  width: 100%;
  margin: 0;
}

.code {
  margin: 20px 0px 20px 35px;
  font-size: 14px;
}

.errorContents {
  margin: 20px 30px;
  font-size: 12px;
}

.errorItem {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.errorTitle {
  font-weight: 800;
}

.errorData {
  line-height: normal;
}
.learnMore {
  margin: 20px 35px 20px 10px !important;
  width: 80%;
}
