.errorTop {
  width: 90%;
  height: 1px;
  border-top: 1px solid #f6f6f6;
}

.errorContainer {
  display: grid;
  grid-template-columns: 15% 57% 28%;
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
}

.code {
  margin: 1.6rem 0px 1.6rem 2.4rem;
  font-family: Inconsolata, Consolas, Courier, monospace;
  font-size: 1.4rem;
}

.errorContents {
  margin: 2.4rem 3.2rem;
}

.errorItem {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 0.8rem;
}

.errorTitle {
  font-weight: bold;
  line-height: normal;
}

.errorData {
  line-height: normal;
  font-family: Inconsolata, Consolas, Courier, monospace;
  letter-spacing: 0.25px;
}

.errorCode {
  display: inline-block;
  position: relative;
}

.pinkBox {
  position: absolute;
  top: 50%;
  height: 6px;
  width: 100%;
  background-color: #ffd7dc;
  z-index: -1;
}

.errorMessage {
  line-height: normal;
}

.learnMore {
  margin: 1.6rem;
  margin-left: 2.4rem;
  width: 70%;
}
