@import "~plaid-threads/scss/variables";

.itemsContainer {
  width: 100%;
  border: 1px solid #ebebeb;
  border-top: 0px;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  align-items: center;
  box-shadow: 0 $unit $unit 0 #ebebeb;
  margin-top: 20px;
}

.itemsHeader {
  width: 100%;
  border: 1px solid #ebebeb;
  border-bottom: 0px;
  height: 104px;
  color: #111111;
  font-family: Vaud;
  font-size: 3 * $unit;
  font-weight: 800;
  // letter-spacing: -0.29px;
  line-height: 32px;
  padding-top: 35px;
  padding-left: 20px;
}
